@charset "UTF-8";

@media screen and(min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom, #204437, #365b4d,#4c7163,#618878, #779e8e);
       }
    section#login{
        width: 80vw;
        background-color: rgb(0, 255, 255);
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login >div#formulario{
        float: right;
        width: 70%;
    }

}
@media screen and (min-width: 992px){
   body{
    background-image: linear-gradient(to bottom, #204437, #365b4d,#4c7163,#618878, #779e8e);
   }
    section#login{
        width: 950px;
    }
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 60%;
    }
    div#formulario>h1{
        font-size: 2em;  
    }
    div#formulario>p{
        font-size: 1em;
    }
    div.campo > input{
        transform: translateY(-11px);
       
       
    }
    
}