@charset "UTF-8";

/*Paleta
cor1:#204437
cor2:#365b4d
cor3:#4c7163
cor4: #618878
cor5: #779e8e
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body,html{
    background-image: linear-gradient(to bottom, #204437, #365b4d,#4c7163,#618878, #779e8e);
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;/*para centraizar*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*para centraizar*/
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.644);

    transition: width 1s, height 1s; /*animação quando vai crescendo*/
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #204437 url(../imagens/imagemIena.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;

}
div#formulario>h1{
    text-align: center;
    padding-bottom: 7px;   
}
div#formulario>p{
    font-size: 0.8em;
}
div.campo{
    background-color: #365b4d;
    border: 1px solid black;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
    
}
div.campo > span{
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: #ffffff;
    font-size: 1em;
    height: 91%;
    border-radius: 8px;
    width: calc(100% - 47px);
    transform: translateY(-12px);
    color: white;
    border: 0px;
    color: black;
    
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:white ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #365b4d;
    color: #204437;
}
form > input[type=submit]:hover{
    background-color:#71ebbe ;
}
a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    padding-top: 7px;
    color: #204437;
    border: 1px solid #365b4d;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;

}
a.botao:hover{
    background-color:#71ebbe ;
}
a.botao>span{
    font-size: 0.8em;
}

